.banner {
  width: 100%;
}

.banner--title {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
}

.banner--title a {
  background-color: gray;
  color: white;
  padding: 5px 15px;
  margin: 10pt;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

header {
  position: relative;
  text-align: center;
  color: white;
}

.highlights h2 {
  grid-row: 1;
  grid-column: 1 / span 2;
  text-align: left;
}

.highlights {
  display: inline-grid;
  width: 83.5%;
  margin-bottom: 10pt;
}

.highlights--container {
  grid-row: 2;
  overflow: hidden;
  margin: 5pt;
}

.highlights--container:last-child {}

.highlights--container img {
  float: left;
  background-color: grey;
}

.highlights--text {
  font-size: 13pt;
  margin: 0pt;
  text-align: left;
  display: inline;
}

.highlights--text h4, p {
  margin: 0pt;
}

.highlights--button {
  float: right;
  background-color: #f44336;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.mosaic {
  display: inline-grid;
}

article {
  text-align: center;
}

.mosaic-item {
  display: inline;
  margin: 2pt;
}

.mosaic--a {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.mosaic--b {
  grid-column: 3;
  grid-row: 1;
}

.mosaic--c {
  grid-column: 3;
  grid-row: 2;
}

.mosaic--d {
  grid-column: 4;
  grid-row: 1 / span 2;
}

.mosaic--e {
  grid-column: 1;
  grid-row: 3 / span 2;
}

.mosaic--f {
  grid-column: 2;
  grid-row: 3;
}

.mosaic--g {
  grid-column: 3;
  grid-row: 3;
}

.mosaic--h {
  grid-column: 4;
  grid-row: 3 / span 2;
}

.mosaic--i {
  grid-column: 1;
  grid-row: 5;
}

.mosaic--j {
  grid-column: 2 / span 2;
  grid-row: 4 / span 2;
}

.mosaic--k {
  grid-column: 4;
  grid-row: 5;
}